body {
  background : #FBF9ED;
  font-family: Georgia

}

h1 {
  border: 3px;
  border-style: solid;
  color       : #F49C6A;
  text-align  : center;
  font-family : Georgia;
  font-size   : 5em;
}

h2 {

  font-family    : Courier;
  text-transform: uppercase;
}

h3 {

font-family: Helvetica;
font-weight: 200;



}


nav a {

color: #F4C7A8;

}

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
      float: center;
}

.buttons a {

border: 1px solid;
text-decoration: none;

}

.buttons a:hover {
background: white;
border: 2px solid;

}
 li {
   display: inline-block;
 }
ul {

  text-align: center;
  word-spacing: 30px;
}


ul a {
  color: #B57493;
  font-size: 1.5em;
  text-align: center;

}
